<app-title>
  <div style="display: flex; align-items: center" title>
    <div>
      Bonus: Everything much easier with NixOS</div>
      <img
        style="display: inline-block; align-self: center; width: 70px; margin-left: 20px;"
        src="assets/nix-snowflake-colours.svg"
        alt="nixos logo"
      />
  </div>
  <div class="pad">
    <ul>
      <li>
        NixOS is a very special Linux distribution focused on reliability and reproducibility
      </li>
      <li>The entire* system is described using config files</li>
      <li>
        This includes the programs that are installed, services that should run, and how they should be configured
      </li>
      <li>
        This includes nginx, which has ACME integration baked in
      </li>
      <li>Configure your OS, the reverse proxy, and ACME all at once</li>
      <li>😎</li>
    </ul>
    <div style="padding-top: 70px;" class="small">*Not all programs make this easy, and some just have <em>too much</em> config to makes this feasible for contributers. So you can usually <q>opt-out</q></div>
  </div>
</app-title>
