<app-title>
  <div title>Agenda</div>
  <div class="pad">
    <div class="flow flow--compact">
      <div class="flow-item">Really boring slides and lots of theory</div>
      <div class="flow-item">Live coding</div>
      <div class="flow-item">Something breaks, no idea what the problem is</div>
      <div class="flow-item">Search the problem</div>
      <div class="flow-item">Found the problem</div>
      <div class="flow-item">No, that wasn't it</div>
      <div class="flow-item">Actually find the problem</div>
      <div class="flow-item">Fix the problem</div>
      <div class="flow-item">Live coding</div>
      <div class="flow-item">Slides</div>
      <div class="flow-item">Live coding</div>
      <div class="flow-item">Now you know how to easily handle TLS and CORS in production</div>
    </div>
  </div>
</app-title>
