<app-title>
    <div title>Agenda</div>
    <div class="pad">
      <ol>
        <li>
          Really boring slides and lots of theory
        </li>
        <li>Live coding</li>
        <li>
          Something breaks, no idea what the problem is
        </li>
        <li>
          Search the problem
        </li>
        <li>Found the problem</li>
        <li>No, that wasn't it</li>
        <li>Actually find the problem</li>
        <li>Fix the problem</li>
        <li>Live coding</li>
        <li>Slides</li>
        <li>Live coding</li>
        <li>Now you know how to easily handle DNS and CORS in production</li>
      </ol>
    </div>
  </app-title>
  