<app-title>
  <div title>SSL vs TLS</div>
  <div class="pad">
    <p><em>Secure Sockets Layer vs Transport Layer Security</em></p>
    TLS has
    <ul>
      <li>better encryption</li>
      <li>better handshakes, not vulnerable to downgrade attacks</li>
      <li>formalized key generation</li>
      <li>protects better against chosen-ciphertext attacks</li>
      <li>better performance</li>
      <li>forward secrecy (session keys can not be retroactively stolen)</li>
      <li>better error handling and well-defined states</li>
      <li>more extensible</li>
    </ul>
  </div>
</app-title>
