<app-title>
    <div title>See the pain &hyphen; TLS</div>
    <div class="pad">
      <ul>
        <li>
          Your browser is hardcoded to trust a bunch of "Root Certificate
          Authorities"
        </li>
        <li>Root CAs have ways to verify that you control a given domain</li>
        <li>
          They let you prove that. Then they give you a certificate, which is derived
          from their root certificate, which the browser verifies and trusts
        </li>
        <li>
          The entire internet is built on a bunch of implicitly trusted entities
        </li>
        <li>Control them, know everything</li>
        <li>Cool</li>
      </ul>
    </div>
  </app-title>
  