<app-title>
  <div title>What's the pain? &hyphen; TLS</div>
  <div class="pad">
    Transport layer security
    <ul>
      <li>Adding TLS to code can be fiddly</li>
      <li>
        Everything that has to do with security is
        <ul>
          <li>poorly documented</li>
          <li>complicated</li>
          <li>
            awful to use because the code is written by academics who don't use
            their APIs
          </li>
        </ul>
      </li>
      <li>
        Even if we get the code right, self-signed certificates are a huge pain
        because
        <ul>
          <li>Need to accept security risk</li>
          <li>
            Also need to accept security risk for backend certificate but
            browsers don't tell us that
          </li>
          <li>don't provide trust (authenticity), only encryption</li>
        </ul>
      </li>
    </ul>
  </div>
</app-title>
