<app-title>
  <div title>Let's try</div>
  <div class="pad">
    <div class="flow">
      <div class="flow-item">
        Visit <a href="https://frontend.vorführeffekt.de">https://frontend.vorführeffekt.de</a>
      </div>
      <div class="flow-item">
        <q>Advanced</q> &rarr; <q>Accept the Risk and Continue</q>
      </div>
      <div class="flow-item">
        See page
      </div>
      <div class="flow-item">
        Backend still broken
      </div>
      <div class="flow-item">
        Visit <a href="https://backend.vorführeffekt.de">https://backend.vorführeffekt.de</a>
      </div>
      <div class="flow-item">
        <q>Advanced</q> &rarr; <q>Accept the Risk and Continue</q>
      </div>
      <div class="flow-item">
        Now Frontend works
      </div>
    </div>
  </div>
</app-title>
