<app-title>
    <div title>See the pain - CORS</div>
    <div class="pad">
      <ol>
        <li>Visit the page <a href="http://vorführeffekt.de:5173/">http://vorführeffekt.de:5173/</a></li>
        <li>
          Open your network tab and see the requests that are being made
        </li>
        <li>Notice that you don't get a result because <em>your browser</em> blocks it (because it fires that strange <code>OPTIONS</code> request that doesn't get a response)</li>
        <li>
          Now tick the <q>Use fake CORS URL</q> checkbox and see what changes
        </li>
      </ol>
    </div>
  </app-title>
  