<app-title>
  <div title>
    Konfiguration anpassen um alles und jeden bedienen zu können
  </div>
  <div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%;">
    <div><div>CommonJS</div>
      <div><code>tsconfig.cjs.ts</code></div>
      <pre class="code"><code define-routes [highlight]="tsconfigCjs" [languages]="['json']" [lineNumbers]="true"
      ></code></pre>
    </div>
    <div><div>ESNext</div>
      <div><code>tsconfig.esm.ts</code></div>
      <pre class="code"><code define-routes [highlight]="tsconfigEsm" [languages]="['json']" [lineNumbers]="true"
      ></code></pre>
    </div>
  </div>
</app-title>
