<app-title>
  <div title>I heard there was a website</div>
  <div class="sideBySide pad">
    <div>
      <p>
        Connect to wifi <q>vorfuehreffekt</q> password <q>supergeheim</q><br />
      </p>
      <div style="text-align: center">
        <img class="qr" src="assets/vorfuehreffekt-qrcode.png" alt="qr code for wifi" />
      </div>
    </div>
    <div>
      <p>
        Visit <a href="http://vorführeffekt.de:5173/">http://vorführeffekt.de:5173/</a>
      </p>
      <div style="text-align: center">
        <img class="qr" src="assets/url.png" alt="qr code for website link" />
      </div>
    </div>
  </div>
</app-title>
