<app-title>
  <div title>I heard there was a website</div>
  <div class="sideBySide pad">
    <div class="sideBySide--item">
      <div class="connection-info">
        Connect to wifi <q>vorfuehreffekt</q><br>
        Password: <q>supergeheim</q>
      </div>
      <div class="qr-container">
        <div class="qr-frame">
          <img src="assets/vorfuehreffekt-qrcode.png" alt="qr code for wifi" />
        </div>
      </div>
    </div>
    <div class="sideBySide--item">
      <div class="connection-info">
        Visit <a href="http://vorführeffekt.de:5173/">http://vorführeffekt.de:5173/</a>
      </div>
      <div class="qr-container">
        <div class="qr-frame">
          <img src="assets/url.png" alt="qr code for website link" />
        </div>
      </div>
    </div>
  </div>
</app-title>
