<app-title>
  <div title>I heard there was a website</div>
  <div class="sideBySide pad">
    <div class="sideBySide--item">
      <div class="connection-info">
        Connect to wifi <q>vorfuehreffekt</q><br>
        Password: <q>supergeheim</q>
      </div>
    </div>
    <div class="sideBySide--item">
      <div class="connection-info">
        Visit <a href="http://vorführeffekt.de:5173/">http://vorführeffekt.de:5173/</a>
      </div>
    </div>
  </div>
  <div class="hint">Run hotspot &rarr; start frontend &rarr; start backend</div>
</app-title>
