code.i0[ideal-api] .hljs-ln tbody tr:not(:hover) {
  transition: filter 0.3s;

  &:nth-child(1) {
    filter: var(--code-blur);
  }

  &:nth-child(2) {
    filter: var(--code-blur);
  }

  &:nth-child(4) {
    filter: var(--code-blur);
  }
}

code.i1[ideal-api] .hljs-ln tbody tr:not(:hover) {
  transition: filter 0.3s;

  &:nth-child(1) {
    filter: var(--code-blur);
  }

  &:nth-child(2) {
    filter: var(--code-blur);
  }

  &:nth-child(4) {
    filter: var(--code-blur);
  }
}

code.i2[ideal-api] .hljs-ln tbody tr:not(:hover) {
  transition: filter 0.3s;

  &:nth-child(1) {
    filter: var(--code-blur);
  }

  &:nth-child(2) {
    filter: var(--code-blur);
  }

  &:nth-child(4) {
    filter: var(--code-blur);
  }
}

code.i3[ideal-api] .hljs-ln tbody tr:not(:hover) {
  transition: filter 0.3s;

  &:nth-child(2) {
    filter: var(--code-blur);
  }

  &:nth-child(4) {
    filter: var(--code-blur);
  }
}

code.i4[ideal-api] .hljs-ln tbody tr:not(:hover) {
  transition: filter 0.3s;

  &:nth-child(2) {
    filter: var(--code-blur);
  }

  &:nth-child(4) {
    filter: var(--code-blur);
  }
}

code.i5[ideal-api] .hljs-ln tbody tr:not(:hover) {
  transition: filter 0.3s;

  &:nth-child(2) {
    filter: var(--code-blur);
  }

  &:nth-child(4) {
    filter: var(--code-blur);
  }
}

code.i6[ideal-api] .hljs-ln tbody tr:not(:hover) {
  transition: filter 0.3s;

  &:nth-child(1) {
    filter: var(--code-blur);
  }

  &:nth-child(2) {
    filter: var(--code-blur);
  }

  &:nth-child(4) {
    filter: var(--code-blur);
  }

  &:nth-child(7) {
    filter: var(--code-blur);
  }

  &:nth-child(8) {
    filter: var(--code-blur);
  }

  &:nth-child(10) {
    filter: var(--code-blur);
  }
}

code.i7[ideal-api] .hljs-ln tbody tr:not(:hover) {
  transition: filter 0.3s;

  &:nth-child(1) {
    filter: var(--code-blur);
  }

  &:nth-child(2) {
    filter: var(--code-blur);
  }

  &:nth-child(4) {
    filter: var(--code-blur);
  }


  &:nth-child(7) {
    filter: var(--code-blur);
  }

  &:nth-child(8) {
    filter: var(--code-blur);
  }

  &:nth-child(10) {
    filter: var(--code-blur);
  }
}
