<app-title>
  <div title>Steps</div>
  <div class="pad smallish">
    <p>A junior (not me!!) might do this:</p>
    <ol>
      <li>Build frontend ✅</li>
      <li>Build backend ✅</li>
      <li>Connect frontend to backend ❌ &larr; CORS error</li>
      <li>Lose time 🥴</li>
      <li>One of
        <ul>
            <li>Use CORS-Unblock browser extension ✅</li>
            <li>Implement CORS in backend ✅</li>
        </ul>
      </li>
      <li>Want <q>encryption</q> 💡</li>
      <li>Research how to encrypt traffic in backend 📚</li>
      <li>Get frustrated with low quality documentation 🤬</li>
      <li>Generate self signed certificate ✅</li>
      <li>Visit page ❌ &larr; Security risk</li>
      <li>Accept risk ❌ &larr; CORS error</li>
      <li>Lose time 🥴</li>
      <li>Figure out it's not a CORS error: Browser doesn't trust backend certificate 🤯</li>
      <li>Find a way to accept the risk ✅</li>
      <li>Everything runs ✅</li>
      <li>It sucks 🥴</li>
    </ol>
  </div>
</app-title>
